.Mint {
  height: 100vh;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg_clr {
  background-color: rgb(11 11 8 / 80%);
  color: white;
  border-radius: 8px;
}

.hjs {
  color: white;
  border: 1px solid white;
  padding: 5px 11px;
  border-radius: 4px;
}

.hjs:hover {
  color: #f99b07;
}

.btn_plus {
  background-color: white;
  border-top-right-radius: 8px;
  padding: 2px 10px;
  color: var(--primary);
  border: none;
  outline: none;
}

.btn_plus:hover {
  background-color: #10121b;
  color: white;
}

.btn_minus {
  background-color: white;
  padding: 2px 11px;
  border-bottom-right-radius: 8px;
  color: var(--primary);
  border: none;
  outline: none;
  font-weight: 900;
}

.btn_minus:hover {
  background-color: #10121b;
  color: white;
}

.btn_minus:focus {
  outline: none;
}

.btn_plus:focus {
  outline: none;
}

.input__style {
  height: 100%;
  margin-bottom: 0;
  border: 1px #000;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #fff;
  color: var(--primary);
  font-weight: 900;
  outline: none;

  border-radius: 8px;
}

.input__div {
  background: white;
  border-radius: 8px;
}

.buttons {
  font-size: 26px;
  font-weight: 900;
  background-color: white;
  border: 2px solid var(--primary);
}

.buttons:hover {
  color: white;
  background-color: var(--primary) !important;
  border: 2px solid white;
}

.b898 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.g_sa {
  gap: 25px;
}

.div_style2 > a {
  text-decoration: none;
  font-size: 36px;
  line-height: 56px;
}

.div_style2 > a:hover {
  color: var(--primary);
  text-decoration: none;
  font-size: 36px;
  outline: none;
}

.w_img67g {
  width: 90%;
  display: flex;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .w_img67g {
    width: 77%;
  }
}

.hidden-btn {
  display: none;
}