/* banner css */

.pos3k {
  position: absolute;
  top: -300px;
  left: -200px;

  /* transform: rotate(350deg); */
}

.banner__overlay {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_img {
  width: 100%;
  height: 920px;
  object-fit: cover;
  background-repeat: repeat;
  position: relative;
  /* /* object-position: bottom right; */

  /* background-position: bottom right;
 
  background-size: 91% auto; */
}

button:focus {
  outline: none;
}

.mnt_btn:hover {
  box-shadow: rgb(164 80 18) 0px 0px 100px;
  z-index: 10000;
}

.overlay_item {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(180%) contrast(52%) saturate(200%) blur(0px)
    hue-rotate(0deg);

  background-color: #ffffff;
  opacity: 0.41;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  transition-property: background, border-radius, opacity;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
}

.banner_cont {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.banner_btn {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 2.1px;
  fill: var(--e-global-color-03def09);
  color: var(--e-global-color-03def09);
  background-color: #fbe87f;

  border: 4px solid #4a4a4a !important;

  border-radius: 10px 10px 10px 10px;
  padding: 12px 40px;

  font-weight: 800;
  width: 90%;
  cursor: pointer;
  transition: all 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.banner_btn:hover {
  color: var(--secondary);
  background-color: #00000091;
  border: 4px solid #fbe87f !important;
}

.img_vc {
  transition: transform 0.7s ease-in-out;
}
.img_vc:hover {
  transform: rotate(360deg) !important;
}

/* //banner2 */

.banner__image2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__layer {
  position: absolute;
  top: 0;
  display: flex;
  margin: 0 auto;
  height: 100%;
  z-index: 100;
  background: radial-gradient(#601b71c4, var(--primary));
}

/* //team */
.img_w4 {
  width: 80%;
  padding: 10px;
  background: rgb(240, 212, 109);
  background: radial-gradient(
    circle,
    rgba(240, 212, 109, 1) 0%,
    rgba(112, 238, 171, 1) 1%,
    rgba(210, 238, 140, 1) 48%,
    rgba(98, 159, 231, 1) 100%
  );
  border-radius: 50%;
}

/* //content */

.h_main {
  padding-top: 70px;
  padding-bottom: 70px;
}

.anim_check {
  animation-name: elementor-animation-buzz-out;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  width: 100%;
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px)
    hue-rotate(0deg);
}

/* //faqs css  */

.faqs__heading {
  font-size: 80px;
}

.faqs > h2 {
  margin-top: 35px;
  font-size: 37px;
}

.faqs > p {
  font-size: 20px;
}

/* //footer */

.img__footer {
  width: 20%;
  margin-left: -72px !important;
}
.footer__bottom {
  gap: 25px;
}

.footer__bottom > a {
  text-decoration: underline;
}

.bg__footer {
  background-color: #ffdbf0;
}

li {
  font-size: 40px;
}

ul {
  padding-left: 0.4em;
}
li {
  padding-left: 0.4em;
}

.nm {
  font-size: 22px;
}

.line > ol > li {
  font-size: 23px !important;
  margin-top: 10px;
}

li::marker {
  color: #f36937;
  margin-right: 10px !important;
}

ul.a {
  list-style-type: circle !important;
}

.styling__btn89 {
  background-color: #000000;
  color: white;
  outline: none;
  font-size: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid black;
}

.styling__btn89:hover {
  background-color: white;
  color: black;
  outline: none;
  border: 1px solid black;
  box-shadow: var(rgb(0, 0, 0), 0 0 rgb(0, 0, 0)), var(black, 0 0 rgb(0, 0, 0)),
    var(rgb(0, 0, 0));
}

.bg_con2 {
  background-color: var(--primary);
  color: var(--secondary);
}
/* .styling__btn89:focus {
  outline: none;
  transform: scale(1.2);
} */

.j3f {
  background-color: red;
}

.size_7 {
  font-size: 45px;
  transition: all 0.3s ease-in !important;
  color: white;
}

.size_7:hover {
  transform: translateY(-12px);
  color: #f36937;
}

i {
  cursor: pointer;
}
