@font-face {
  font-family: "BPchildLefty";
  src: local("BPchildLefty"),
    url("/public/fonts/BPchildLefty.ttf") format("truetype");
  /* src: url("/public/fonts/BPchildLefty.ttf") format("open");
  url("/public/fonts/Quicksand-Light.woff") format("woff"); */
  /* font-weight: 300;
  font-style: normal; */
}

body {
  /* cursor: url(https://toppng.com/uploads/preview/cursor-11549398080fd7y2r6evj.png)
      10 2,
    auto; */

  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png)
      10 2,
    auto;

  /* cursor: url(https://www.freeiconspng.com/thumbs/cursor-png/078495-blue-jelly-icon-business-cursor-16.png),
    auto; */

  margin: 0;
  /* font-family: "cheri.regular"; */
  font-family: "Livvic", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary: #280b30;
  --secondary: white;
  --new: #601b71;
  --white: #ffffff;
  --dark: black;
}

body {
  overflow-x: hidden;
  margin: 0;
  color: var(--white);
  background-color: var(--primary);
}

/* logo-title */
.logo__title {
  font-family: BPchildLefty;
}

/* Scroll bar */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--primary);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(243, 105, 55);
  border-radius: 5px;
  box-shadow: inset 2px -5px 5px rgb(243, 105, 55);
}

.bg__primary {
  background-color: var(--primary);
}

.bg__secondary {
  background-color: var(--white);
}

.bg_white {
  background-color: var(--white);
}

.bi-discord::before {
  margin-top: 10px;
}

.bg-new {
  background-color: var(--new);
}

.bi-twitter::before {
  margin-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: var(--white);
}

.App {
  overflow-x: hidden !important;
}

.section_marg {
  margin-top: 130px !important;
  margin-bottom: 130px !important;
}

p {
  font-weight: 400;
}

a {
  color: var(--primary);
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.li > a {
  transition: all 0.5s ease-in-out;
}

li > a:hover {
  color: #f99b07;
}

.nav-items > a > i:hover {
  color: #f99b07;
}

p {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.border_rad3g {
  border-radius: 10px;
}

.pad_32 {
  padding: 16px 10px;
}

h1 {
  font-size: 49px;
  color: var(--white);
}

h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

.container {
  width: 90% !important;
}

.font_3gd {
  font-size: 30px;
  font-weight: 600;
}

.font_2g {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
}

.team_p {
  font-size: 17px;
  font-weight: 400;
}

.text-black {
  color: var(--dark);
}

.text679 {
  color: white;
}

@media (max-width: 1484px) {
  .navbar-container {
    width: 84% !important;
  }
  .logo__title {
    font-size: 55px !important;
  }
}

@media (max-width: 960px) {
  .navbar-container {
    width: 100% !important;
  }
  .text679 {
    font-size: 30px;
  }
  .text676 {
    font-size: 26px !important;
  }
  .img__footer {
    width: 60% !important;
  }
  .banner_cont {
    width: 87% !important;
  }
  .text679 {
    font-size: 34px !important;
  }
  .pos3k {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    width: 100%;
  }
}

@media (max-width: 1256px) {
  .text676 {
    font-size: 19px;
  }
  .text679 {
    font-size: 40px;
  }
  .text670 {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1280px;
  }
}

.container .container-fluid {
  overflow-x: hidden !important;
}

.div_style2 {
  background-color: var(--primary);
  border-color: var(--primary);
  padding: 3px 10px;
  border-radius: 10px;
  outline: none;
  color: var(--secondary);
  font-size: 30px;
  border: 3px solid var(--white) !important;
  line-height: 56px;
  font-weight: 700;
}

.div_style2:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.custom_style5675 {
  background-color: #fbe87f;
  border: none;
  outline: none;
  padding: 10px 10px;
}

.btn-primary {
  background-color: #4a4a4a !important;
  border-color: #4a4a4a !important;
}

.btn-primary:focus {
  outline: none !important;
  border: none !important;
}

.gap_8 {
  gap: 2px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .container {
    height: auto !important;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .faqs > h2 {
    font-size: 26px !important;
  }

  .team p {
    text-align: center !important;
  }

  .section_marg {
    margin-top: 73px !important;
    margin-bottom: 73pxF !important;
  }

  .navbar-container {
    max-width: 100% !important;
  }
  .logo__title {
    font-size: 33px !important;
  }
  .banner_btn {
    font-size: 20px !important;
  }

  .div_style2 {
    line-height: 36px;
    background-color: #280b30c7;
    font-size: 20px;
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border-width: 2px !important;
  }

  .b898 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .Mint {
    height: 800px !important;
  }

  .banner_img {
    height: 315px !important;
    /* height: 600px !important; */
  }
  h1 {
    font-size: 36px;
    color: var(--white);
  }
  .h_main {
    padding-top: 37px !important;
    padding-bottom: 37px !important;
  }
  .text670 {
    font-size: 40px;
  }
  p {
    text-align: start;
    font-size: 17px;
  }
  h2 {
    font-size: 32px;
    text-align: start;
  }

  .img_5b {
    height: 417px;
    margin-top: 63px;
    object-fit: cover;
  }

  .faqs__heading {
    font-size: 65px !important;
  }
}

@media (max-width: 502px) {
  .text679 {
    font-size: 30px;
  }
  .text676 {
    font-size: 22px !important;
  }
  .text670 {
    font-size: 35px;
  }
}

@media (max-width: 700px) {
  .card__img {
    height: 614px;
    object-fit: cover;
  }
}

@media (max-width: 1400px) {
  li {
    font-size: 18px !important;
  }
}

@media (min-width: 1626px) {
  .text676 {
    font-size: 44px;
  }
  li {
    font-size: 44px !important;
  }
}

.banner_cont {
  width: 50%;
}
